In [3]:
# try:
#     # Thu in gia tri x
#      print(x)
# except NameError: # Neu ton tai loi NameError
#     print("Bien chua duoc dinh nghia")
# except: # Neu ton tai loi khac
#     print("Da co mot loi khac trong chuong trinh")

5

In [4]:
# def rebase(input_base, digits, output_base):
#     if input_base < 2:
#         raise ValueError('input base must be >= 2')
#     if output_base < 2:
#         raise ValueError('output base must be >= 2')
#     if not all(0 <= d < input_base for d in digits):
#         raise ValueError('all digits must satisfy 0 <= d < input base')
#     decimal = 0
#     for d in digits:
#         decimal = decimal * input_base + d
#     if decimal == 0: return [0]
#     out_digits = []
#     while decimal > 0:
#         decimal, digit = divmod(decimal, output_base)
#         out_digits.insert(0, digit)
#     return out_digits

In [10]:
# numbers = [1, 2, 3]
# numbers.remove(2)

In [11]:
# numbers

[1, 3]

In [25]:
numbers = [1]

In [28]:
try:
    numbers.pop(1)
except ValueError: 
    print('input base must be >= 2')
except IndexError:
    print('tuan')

tuan

In [40]:
def add_me_to_the_queue(express_queue, normal_queue, ticket_type, person_name):
    """Add a person to the 'express' or 'normal' queue depending on the ticket number.
    :param express_queue: list - names in the Fast-track queue.
    :param normal_queue: list - names in the normal queue.
    :param ticket_type: int - type of ticket. 1 = express, 0 = normal.
    :param person_name: str - name of person to add to a queue.
    :return: list - the (updated) queue the name was added to.
    """
    if ticket_type == 1:
        express_queue.append(person_name)
        return express_queue
    else:
        normal_queue.append(person_name)
        return normal_queue
    pass

In [41]:
add_me_to_the_queue(express_queue=["Tony", "Bruce"], normal_queue=["RobotGuy", "WW"], ticket_type=1, person_name="RichieRich")

['Tony', 'Bruce', 'RichieRich']

In [66]:
def find_my_friend(queue, friend_name):
    """Search the queue for a name and return their queue position (index).
 
    :param queue: list - names in the queue.
    :param friend_name: str - name of friend to find.
    :return: int - index at which the friends name was found.
    """
    return queue.index(friend_name)
    pass

In [67]:
placeholders = ["spam", "ham", "eggs", "green_spam", "green_ham", "green_eggs"]
print(placeholders.pop(0))
# while placeholders:
    # print(placeholders.pop(0))

spam

Chaitana's Colossal Coaster

In [68]:
express_queue=["Tony", "Bruce"]

In [69]:
find_my_friend(express_queue,"Tony")

0

In [70]:
word_list = ["bird", "chicken", "barrel", "bongo", "sliver", "apple"]
for index, word in enumerate(word_list):
   if word.startswith("b"):
       print(f"{word.title()} (at index {index}) starts with a B.")
   elif word == "sliver":
      break
   else:
      print(f"{word.title()} doesn't start with a B.")
print("loop broken.")

Bird (at index 0) starts with a B.
Chicken doesn't start with a B.
Barrel (at index 2) starts with a B.
Bongo (at index 3) starts with a B.
loop broken.

Making the Grade

In [71]:
student_scores = [90.33, 40.5, 55.44, 70.05, 30.55, 25.45, 80.45, 95.3, 38.7, 40.3]

In [72]:
a = map(lambda n: n <= 40, student_scores)
a

In [73]:
def round_scores(student_scores: list) -> list:
    """Round all provided student scores.

    :param student_scores: list - float or int of student exam scores.
    :return: list - student scores *rounded* to nearest integer value.
    """
    return list(map(round, student_scores))

In [77]:
round_scores(student_scores)

[90, 40, 55, 70, 31, 25, 80, 95, 39, 40]

In [74]:
def count_failed_students(student_scores: list) -> int:
    """Count the number of failing students out of the group provided.

    :param student_scores: list - containing int student scores.
    :return: int - count of student scores at or below 40.
    """
    return sum(map(lambda n: n <= 40, student_scores))

In [75]:
def letter_grades(highest):
    """Create a list of grade thresholds based on the provided highest grade.

    :param highest: int - value of highest exam score.
    :return: list - of lower threshold scores for each D-A letter grade interval.
            For example, where the highest score is 100, and failing is <= 40,
            The result would be [41, 56, 71, 86]:

            41 <= "D" <= 55
            56 <= "C" <= 70
            71 <= "B" <= 85
            86 <= "A" <= 100
    """
    return list(map(lambda n: n * (highest - 40) // 4 + 41, [0, 1, 2, 3]))

In [76]:
letter_grades(100)

[41, 56, 71, 86]

In [85]:
count_failed_students(student_scores)

3

In [79]:
numbers1 = [1, 2, 3]
numbers2 = [10, 20, 30]
combined_numbers = list(map(lambda x, y: x + y, numbers1, numbers2))
print(combined_numbers)  # Output: [11, 22, 33]

[11, 22, 33]

In [76]:
# def round_scores(student_scores: list) -> list:
#     """Round all provided student scores.

#     :param student_scores: list - float or int of student exam scores.
#     :return: list - student scores *rounded* to nearest integer value.
#     """
#     return list(map(round, student_scores))

In [77]:
round_scores(list(student_scores))

[90, 40, 55, 70, 31, 25, 80, 95, 39, 40]

Tisbury Treasure Hunt

In [2]:
multiple_elements_string = tuple("Timbuktu")
multiple_elements_string

('T', 'i', 'm', 'b', 'u', 'k', 't', 'u')

In [40]:
def clean_up(combined_record_group):
    """Clean up a combined record group into a multi-line string of single records.

    :param combined_record_group: tuple - everything from both participants.
    :return: str - everything "cleaned", excess coordinates and information are removed.

    The return statement should be a multi-lined string with items separated by newlines.

    (see HINTS.md for an example).
    """
    return "".join([f"{(record[0], record[2], record[3], record[4])}\n" for record in combined_record_group])
    # return "".join(record[0] for record in combined_record_group)

In [41]:
a = (('Brass Spyglass', '4B', 'Abandoned Lighthouse', ('4', 'B'), 'Blue'), ('Vintage Pirate Hat', '7E', 'Quiet Inlet (Island of Mystery)', ('7', 'E'), 'Orange'), ('Crystal Crab', '6A', 'Old Schooner', ('6', 'A'), 'Purple'))

In [42]:
a

(('Brass Spyglass', '4B', 'Abandoned Lighthouse', ('4', 'B'), 'Blue'),
 ('Vintage Pirate Hat',
  '7E',
  'Quiet Inlet (Island of Mystery)',
  ('7', 'E'),
  'Orange'),
 ('Crystal Crab', '6A', 'Old Schooner', ('6', 'A'), 'Purple'))

In [43]:
clean_up(a)

"('Brass Spyglass', 'Abandoned Lighthouse', ('4', 'B'), 'Blue')\n('Vintage Pirate Hat', 'Quiet Inlet (Island of Mystery)', ('7', 'E'), 'Orange')\n('Crystal Crab', 'Old Schooner', ('6', 'A'), 'Purple')\n"

In [46]:
wombat = dict([('name', 'Wombat'),('speed', 23),('land_animal', True)])
wombat

{'name': 'Wombat', 'speed': 23, 'land_animal': True}

In [48]:
bear = dict(name="Black Bear", speed=40, land_animal=True)
bear

{'name': 'Black Bear', 'speed': 40, 'land_animal': True}

In [50]:
whale = {"name": "Blue Whale", "speed": 35, "land_animal": False}
whale

{'name': 'Blue Whale', 'speed': 35, 'land_animal': False}

In [51]:
for key, value in whale.items():
    print(key,":",value)

name : Blue Whale
speed : 35
land_animal : False

Inventory Management

In [60]:
from collections import Counter

In [61]:
items = ["coal", "wood", "wood", "diamond", "diamond", "diamond"]

In [64]:
def create_inventory(items):
    """
 
    :param items: list - list of items to create an inventory from.
    :return:  dict - the inventory dictionary.
    """
    return dict(Counter(items))

In [100]:
create_inventory(items)

{'wood': 2, 'iron': 1, 'coal': 1}

In [101]:
items = ["wood", "iron", "coal", "wood"]
inventory = {"coal":1}

In [102]:
items

['wood', 'iron', 'coal', 'wood']

In [104]:
Counter(inventory)

Counter({'coal': 1})

In [105]:
# Counter(inventory)

In [108]:
def add_items(inventory, items):
    """
 
    :param inventory: dict - dictionary of existing inventory.
    :param items: list - list of items to update the inventory with.
    :return:  dict - the inventory dictionary update with the new items.
    """
    return dict(Counter(inventory) + Counter(items))

In [109]:
add_items(inventory,items)

{'coal': 2, 'wood': 2, 'iron': 1}

In [110]:
items = ["diamond", "coal", "iron", "iron"]

In [125]:
inventory = {"coal":3, "diamond":1, "iron":5}

In [126]:
inventory.items()

dict_items([('coal', 3), ('diamond', 1), ('iron', 5)])

In [122]:
def decrement_items(inventory, items):
    """
    decrement items from inventory; include keys with value == 0
 
    :param inventory: dict - inventory dictionary.
    :param items: list - list of items to decrement from the inventory.
    :return:  dict - updated inventory dictionary with items decremented.
    """
    counts = dict(Counter(inventory) - Counter(items))
    # counts.update({a: 0 for a in inventory if a not in counts})
    counts.update({a: 0 for a in inventory if a not in counts})
    return counts

In [123]:
decrement_items(inventory,items)

{'coal': 0, 'iron': 0, 'diamond': 0}

Locomotive Engineer

In [5]:
# This function is defined to take any number of positional arguments

def my_function(*args):
    print(args)

# Arguments given to the function are packed into a tuple

my_function(1, 2, 3)
# (1, 2, 3)

# >>> my_function("Hello")
# ("Hello")

# >>> my_function(1, 2, 3, "Hello", "Mars")
# (1, 2, 3, "Hello", "Mars")

(1, 2, 3)

In [6]:
my_function(1,2,3,"Hello")

(1, 2, 3, 'Hello')

In [26]:
def get_list_of_wagons(*args):
    """Return a list of wagons.

    :param: arbitrary number of wagons.
    :return: list - list of wagons.
    """
    # return [*args]
    return [*args]

In [27]:
get_list_of_wagons(1, 7, 12, 3, 14, 8, 5)

[1, 7, 12, 3, 14, 8, 5]

In [12]:
def fix_list_of_wagons(each_wagons_id, missing_wagons):
    """Fix the list of wagons.

    :parm each_wagons_id: list - the list of wagons.
    :parm missing_wagons: list - the list of missing wagons.
    :return: list - list of wagons.
    """
    [[a, b, c, *last], d] = [each_wagons_id, missing_wagons]
    return [c, d, *last, a, b]

In [13]:
fix_list_of_wagons([2, 5, 1, 7, 4, 12, 6, 3, 13], [3, 17, 6, 15])

[1, [3, 17, 6, 15], 7, 4, 12, 6, 3, 13, 2, 5]

In [61]:
fruits = ("apple", "banana", "cherry")
more_fruits = ["orange", "kiwi", "melon", "mango"]

# fruits and more_fruits are unpacked and then their elements are packed into combined_fruits
combined_fruits = *fruits, *more_fruits
# combined_fruits = fruits, more_fruits

In [62]:
combined_fruits

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [35]:
fruits_inventory = {"apple": 6, "banana": 2, "cherry": 3}
more_fruits_inventory = {"orange": 4, "kiwi": 1, "melon": 2, "mango": 3}

# # fruits_inventory and more_fruits_inventory are unpacked into key-values pairs and combined.
combined_fruits_inventory = {**fruits_inventory, **more_fruits_inventory}
# combined_fruits_inventory = {*fruits_inventory, *more_fruits_inventory} 

# # then the pairs are packed into combined_fruits_inventory
# combined_fruits_inventory
# {"apple": 6, "banana": 2, "cherry": 3, "orange": 4, "kiwi": 1, "melon": 2, "mango": 3}

In [36]:
combined_fruits_inventory

{'apple': 6,
 'banana': 2,
 'cherry': 3,
 'orange': 4,
 'kiwi': 1,
 'melon': 2,
 'mango': 3}

In [46]:
def add_missing_stops(dicts, **kwargs):
    """Add missing stops to route dict.

    :param route: dict - the dict of routing information.
    :param: arbitrary number of stops.
    :return: dict - updated route dictionary.
    """
    # return {**dicts, 'stops': [*kwargs.values()]}
    return {**dicts, 'stops': [*kwargs.values()]}

In [47]:
add_missing_stops({"from": "New York", "to": "Miami"},
                      stop_1="Washington, DC", stop_2="Charlotte", stop_3="Atlanta",
                      stop_4="Jacksonville", stop_5="Orlando")

{'from': 'New York',
 'to': 'Miami',
 'stops': ['Washington, DC',
  'Charlotte',
  'Atlanta',
  'Jacksonville',
  'Orlando']}

In [59]:
fruits_inventory = {"apple": 6, "banana": 2, "cherry": 3}
more_fruits_inventory = {"orange": 4, "kiwi": 1, "melon": 2, "mango": 3}

# fruits_inventory and more_fruits_inventory are unpacked into key-values pairs and combined.
# combined_fruits_inventory = {**fruits_inventory, **more_fruits_inventory}
combined_fruits_inventory = [*fruits_inventory, *more_fruits_inventory]

In [60]:
combined_fruits_inventory

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']